*.gradle
*.settings
*.tmp
bin/
build/
*.project
*.classpath
.DS_Store
.idea/
*.iml
META-INF/
bower_components/
report/

src/main/node_modules


src/main/webapp/tmp

src/main/webapp/upload

src/main/webapp/report
