<div id="wrapper">
  <at-header></at-header>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header" ng-click="updateAuth2()">权限管理</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
<!--       	<div ui-tree data-drag-enabled=false>
		  <ol ui-tree-nodes="" ng-model="list">
		    <li ng-repeat="item in list" ui-tree-node>
		      <div ui-tree-handle>
		        {{item.title}}
		      </div>
		      <ol ui-tree-nodes="" ng-model="item.items">
		        <li ng-repeat="subItem in item.items" ui-tree-node>
		          <div ui-tree-handle>
		            {{subItem.title}}
		          </div>
		        </li>
		      </ol>
		    </li>
		  </ol>
		</div> -->
		<div id="tree"></div>
      </div>
      <div class="col-lg-9">
      
      
      
       <!-- <p>{{authorityItems}}</p> -->
<!--      <button ng-click="updateAuth2()">
		  Increment
		</button> -->
<!-- <p><code>$event</code>: <pre> {{$event | json}}</pre></p>-->
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="auth in authorityItems | orderBy:'id'">
				<div class="row">
      <div class="col-lg-10">
				{{auth.authorityItem.name}}
				</div>
				<div class="col-lg-2">
				<toggle-switch
		            ng-model="auth.isActive"
		            class="switch-success"
		            on-label="开启"
		            off-label="关闭">
		        <toggle-switch>
		        </toggle-switch>
			</li>
		</ul>
		<button type="button" class="btn btn-primary" ng-click="updateAuthority();">保存更改</button>
      </div>
    </div>

  </div>
</div>
