<div id="wrapper">
  <at-header></at-header>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">权限管理<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="showDefaultAuthorityDialog()">&nbsp;编辑默认权限组&nbsp;</button></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div id="employee-tree"></div>
      </div>
      <div class="col-lg-8">
        <div ng-if="currentEmployee">
          <h4 class="page-header" style="margin: 10px 0;line-height: 30px;">
            {{currentEmployee.name}}-当前权限组: {{currentEmployee.employeeAuthorityGroup.authorityGroup.name}}<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="editEmployeeAuthorityGroup()">&nbsp;变更权限组&nbsp;</button>
          </h4>
          <div class="row" ng-repeat="employeeAuthItem in currentEmployee.employeeAuthorityGroup.items">
            <div class="col-lg-12">
              <div class="employee-auth-item">
                <div class="name">
                  {{employeeAuthItem.authorityItem.name}}
                </div>
                <div class="option">
                  <at-toggle ng-model="employeeAuthItem.isActive" action="editEmployeeAuthorityItem(employeeAuthItem);"></at-toggle>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

