<div id="wrapper">
  <at-header></at-header>

  <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">待办事宜</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> 个人待办事宜
                <div class="pull-right">
                  个人: {{employee.name}}
                </div>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <div class="list-group-item" ng-repeat="task in employeeTaskList" style="line-height:36px;">
                    <i class="fa fa-tasks fa-fw"></i> {{task.project.number}}&nbsp;{{task.projectStatus | projectStatus}}
                    <div class="options pull-right">
                      <button class="btn btn-default btn-sm" ng-click="showProjectDetailDialog(task.project)">详情</button>
                    </div>
                    <div class="options pull-right" style="margin-right:10px;">
                      <button class="btn btn-success btn-sm" ng-click="finishTask(task)" ng-disabled="task.disabled">{{task.projectStatus | taskOption}}</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> 部门待办事宜
                <div class="pull-right">
                  部门: {{employee.department.name}}
                </div>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <div class="list-group-item" ng-repeat="task in departmentTaskList" style="line-height:36px;">
                    <i class="fa fa-tasks fa-fw"></i> {{task.project.number}}&nbsp;{{task.projectStatus | projectStatus}}
                    <div class="options pull-right">
                      <button class="btn btn-default btn-sm" ng-click="showProjectDetailDialog(task.project)">详情</button>
                    </div>
                    <div class="options pull-right" style="margin-right:10px;">
                      <button class="btn btn-success btn-sm" ng-click="finishTask(task)" ng-disabled="task.disabled">{{task.projectStatus | taskOption}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>

  </div>
</div>