<div id="wrapper">
  <at-header></at-header>

  <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">项目详情</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> 项目进度
              </div>
              <div class="panel-body">
                <div at-progress ng-model="project" style="height: 150px;"></div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 项目内容
              </div>
              <div class="panel-body">
                <table class="table table-striped">
                  <tbody>
                      <tr>
                          <td>
                            项目编号:
                          </td>
                          <td>
                            {{project.number}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            项目名称:
                          </td>
                          <td>
                            {{project.name}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            项目类型:
                          </td>
                          <td>
                            {{project.type | projectType}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            项目客户:
                          </td>
                          <td>
                            {{project.customer.companyName}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            项目客户地址:
                          </td>
                          <td>
                            {{project.companyAddress}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            项目客户联系人:
                          </td>
                          <td>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th><label>姓名</label></th>
                                  <th><label>工作部门</label></th>
                                  <th><label>联系电话</label></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="item in project.contactPersonItems">
                                  <td>{{item.name}}</td>
                                  <td>{{item.department}}</td>
                                  <td>{{item.tel}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                      </tr>
                      <tr>
                          <td>
                            合同额:
                          </td>
                          <td>
                            {{project.contractAmount}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            业务负责人:
                          </td>
                          <td>
                            {{project.businessEmployee.name}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                            项目负责人:
                          </td>
                          <td>
                            {{project.projectEmployee.name}}
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-file fa-fw"></i> 项目文件管理
              </div>
              <div class="panel-body">
                
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bug fa-fw"></i> 项目临时功能
              </div>
              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa fa-bug fa-fw"></i> 数据计算模块(上传或输入检测报告生成计算过程表和结果与判定表)
                  </div>
                  <div class="panel-body">
                    <button type="button" class="btn btn-primary" ng-click="showUploadJCBGDialog()"><i class="fa fa-cloud-upload fa-fw"></i> 上传检测报告</button>
                    <button type="button" class="btn btn-primary" ng-click="showInputJCBGDialog()"><i class="fa fa-pencil fa-fw"></i> 输入检测报告</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>