/*
 *  Global Css Style
 */
body {
  font-family: 'Microsoft Yahei', STHeiti, sans-serif;
  font-size: 14px;
}
.slider {
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}
.form-control.date {
  width: 110px;
}
.modal-dialog {
  margin: 10% auto;
}
.modal-sg {
  width: 1200px;
}
.modal-content {
  padding: 10px;
}
.modal-content .content {
  padding: 15px 5px 5px;
  display: table;
  width: 100%;
}
.modal-content .content .row {
  display: table-row;
}
.modal-content .content .row .cell {
  display: table-cell;
  vertical-align: middle;
  height: 45px;
}
.modal-content .content .row .cell label {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}
.list-group .list-group-item .options {
  display: inline-block;
}
/*
 * Loading CSS Style
 */
.isloading-overlay {
  background-color: transparent !important;
}
.isloading-overlay .isloading-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
}
.isloading-overlay .isloading-wrapper .fa-refresh {
  font-size: 36px;
}
/*
 * JCBG CSS Style
 */
.jcbg-table-container input[type='text'] {
  height: 30px;
  padding: 6px 6px;
  font-size: 12px;
}
