/*
 *  Global Css Style
 */
body {
  font-family: 'Microsoft Yahei',STHeiti,sans-serif;
  font-size: 14px;
}

.modal-content {
  padding: 10px;
  .content {
    padding: 15px 5px 5px;
    display: table;
    width: 100%;
    .row {
      display: table-row;
      .cell {
        display: table-cell;
        vertical-align: middle;
        height: 45px;
        label {
          font-size: 16px;
          margin: 0;
          font-weight: normal;
        }
      }
    }
  }
}