<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;确定&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell">
      <label>部门名称:</label>
    </div>
    <div class="cell">
      {{data.item.name}}
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <label>部门描述:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.description" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <label>部门类型:</label>
    </div>
    <div class="cell">
      {{data.item.type | departmentType}}
    </div>
  </div>

<div>