<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;确定&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell">
      <label>员工姓名:</label>
    </div>
    <div class="cell">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <label>员工工号:</label>
    </div>
    <div class="cell">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <label>员工密码:</label>
    </div>
    <div class="cell">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <label>员工职位:</label>
    </div>
    <div class="cell">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <label>员工所属部门:</label>
    </div>
    <div class="cell">
      <select ng-model="department" ng-change="changeDepartment()" ng-options="item.name for item in departmentList" class="form-control"></select>
    </div>
  </div>
<div>