<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-4">
    <h4 style="text-align:center;">工作任务单</h4>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;创建&nbsp;</button>
  </div>
</div>
<div>

<div class="content">
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>项目名称:</label>
    </div>
    <div class="cell">
      {{data.project.name}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>项目编号:</label>
    </div>
    <div class="cell">
      {{data.project.number}}
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>表码:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.tableNum" type="text" class="form-control" style="width: 150px;">
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>修订状态:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.revisionStatus" type="text" class="form-control" style="width: 150px;">
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width: 120px;">
      <label>任务下达者:</label>
    </div>
    <div class="cell">
      {{employee.name}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 120px;">
      <label>任务下达日期:</label>
    </div>
    <div class="cell">
      <input at-datepicker date="data.item.issueDate" type="text" class="form-control date">
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><label>组别</label></th>
      <th><label>工作内容</label></th>
      <th><label>工作时限</label></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data.item.items">
      <td>{{item.groupName}}</td>
      <td><textarea ng-model="item.workContent" class="form-control" rows="5"></textarea></td>
      <td><textarea ng-model="item.workTimeLimit" class="form-control" rows="5"></textarea></td>
    </tr>
  </tbody>
</table>