<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;确定&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>创建时间:</label>
    </div>
    <div class="cell">
      <input at-datepicker date="data.item.createDate" type="text" class="form-control date">
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><label>部门</label></th>
      <th><label>重点评审内容</label></th>
      <th><label>评审意见摘要</label></th>
      <th><label>时间</label></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data.item.items">
      <td>{{item.department.name}}</td>
      <td><textarea ng-model="item.reviewContent" class="form-control" rows="5"></textarea></td>
      <td><textarea ng-model="item.reviewComment" class="form-control" rows="5"></textarea></td>
      <td style="width: 120px;"><input at-datepicker date="item.createDate" type="text" class="form-control date"></td>
    </tr>
  </tbody>
</table>