<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-4">
    <h4 style="text-align:center;">合同评审记录</h4>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;创建&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>项目名称:</label>
    </div>
    <div class="cell">
      {{data.project.name}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>项目编号:</label>
    </div>
    <div class="cell">
      {{data.project.number}}
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>表码:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.tableNum" type="text" class="form-control" style="width: 150px;">
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>修订状态:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.revisionStatus" type="text" class="form-control" style="width: 150px;">
    </div>
  </div>
</div>

<table class="table table-striped" style="margin-bottom:0;">
  <thead>
    <tr>
      <th><label>部门</label></th>
      <th><label>重点评审内容</label></th>
      <th><label>评审意见摘要</label></th>
      <th><label>时间</label></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data.item.items">
      <td>{{item.department.name}}</td>
      <td><textarea ng-model="item.reviewContent" class="form-control" rows="5"></textarea></td>
      <td><textarea ng-model="item.reviewComment" class="form-control" rows="5"></textarea></td>
      <td style="width: 120px;"><input at-datepicker date="item.createDate" type="text" class="form-control date"></td>
    </tr>
  </tbody>
</table>

<div class="content" style="padding:5px;">
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>创建时间:</label>
    </div>
    <div class="cell">
      <input at-datepicker date="data.item.createDate" type="text" class="form-control date">
    </div>
  </div>
</div>