<div class="jcbg-table-container">
<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-4">
    <h4 style="text-align:center;">输入检测报告</h4>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success pull-right" ng-click="submit()">&nbsp;提交&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell" style="width: 120px;">
      <label>项目编号:</label>
    </div>
    <div class="cell">
      {{data.project.number}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 120px;">
      <label>项目名称:</label>
    </div>
    <div class="cell">
      {{data.project.name}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 120px;">
      <label>项目客户:</label>
    </div>
    <div class="cell">
      {{data.project.customer.companyName}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 120px;">
      <label>项目客户地址:</label>
    </div>
    <div class="cell">
      {{data.project.companyAddress}}
    </div>
  </div>
</div>

<div class="content" style="padding:5px;">
  <div class="row">
    <div class="cell"></div>
    <div class="cell">
      <button class="btn btn-primary pull-right" ng-click="addWorkshopPosition()">添加车间/岗位</button>
    </div>
  </div>
</div>

<div class="content" style="padding:5px;">
  <div class="row">
    <div class="cell">
      <table class="table table-bordered" style="margin-bottom: 0;">
        <thead>
          <tr>
            <th style="width: 15%;"><label style="font-size: 12px;">车间/岗位</label></th>
            <th style="width: 20%;"><label style="font-size: 12px;">检测项目</label></th>
            <th><label style="font-size: 12px;">采样日期</label></th>
            <th style="width: 15%;"><label style="font-size: 12px;">样品编号</label></th>
            <th><label style="font-size: 12px;">检测结果(mg/m3)</label></th>
            <th><label style="font-size: 12px;">接触时间/h</label></th>
            <th><label style="font-size: 12px;">连续采集时间/min</label></th>
            <th><label style="font-size: 12px;">操作</label></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="workshopPosition in data.item">
            <td>
              <input type="text" class="form-control" ng-model="workshopPosition.workshopPosition">
              <br/>
              <button class="btn btn-primary btn-sm" ng-click="addZYBWHYSItem(workshopPosition)">添加检测项目</button>
              <a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="deleteWorkshopPosition(workshopPosition)"><i class="fa fa-trash-o fa-lg"></i></a>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;">
                <tbody>
                  <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                    <td>
                      <!--
                      <select ng-model="zybwhysItem.zybwhysItem" ng-options="zybwhysItem.chineseName for zybwhysItem in zybwhysList" class="form-control"></select>
                      -->
                      <ui-select ng-model="zybwhysItem.selected"
                                 theme="bootstrap"
                                 style="width: 300px;">
                        <ui-select-match placeholder="输入检测项目">{{$select.selected.chineseName}}</ui-select-match>
                        <ui-select-choices repeat="zybwhysItem in zybwhysList | filter: $select.search">
                          <div>{{zybwhysItem.chineseName}}</div>
                        </ui-select-choices>
                      </ui-select>

                      <div style="height:10px;"></div>
                      <span>(&nbsp;</span>
                      <input type="text" class="form-control" ng-model="zybwhysItem.zybwhysItemDetailName" style="display:inline-block;width: 100px;">
                      <span>&nbsp;)</span>
                      <div style="height:10px;"></div>
                      <button class="btn btn-primary btn-sm" ng-click="addTestDate(zybwhysItem)">添加采样日期</button>
                      <a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="deleteZYBWHYSItem(workshopPosition, zybwhysItem)"><i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;">
                <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                  <td style="padding:0;">
                    <table class="table" style="margin-bottom: 0;">
                      <tr ng-repeat="testDate in zybwhysItem.list" style="height:{{testDate.height}}px;">
                        <td>
                          <input at-datepicker="" date="testDate.testDate" type="text" class="form-control date">
                          <br/>
                          <button class="btn btn-primary btn-sm" ng-click="addSample(zybwhysItem, testDate)">添加样品</button>
                          <a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="deleteTestDate(zybwhysItem, testDate)"><i class="fa fa-trash-o fa-lg"></i></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;border: none;">
                <tbody>
                  <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                    <td style="padding:0;">
                      <table class="table" style="margin-bottom: 0;">
                        <tbody>
                          <tr ng-repeat="testDate in zybwhysItem.list" style="height:{{testDate.height}}px;">
                            <td style="padding:0;">
                              <table class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="sample in testDate.list" style="height:{{sample.height}}px;">
                                  <td>
                                    <input type="text" class="form-control" ng-model="sample.sampleNum">
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;border: none;">
                <tbody>
                  <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                    <td style="padding:0;">
                      <table class="table" style="margin-bottom: 0;">
                        <tbody>
                          <tr ng-repeat="testDate in zybwhysItem.list" style="height:{{testDate.height}}px;">
                            <td style="padding:0;">
                              <table class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="sample in testDate.list" style="height:{{sample.height}}px;">
                                  <td>
                                    <input type="text" class="form-control" ng-model="sample.result">
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;border: none;">
                <tbody>
                  <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                    <td style="padding:0;">
                      <table class="table" style="margin-bottom: 0;">
                        <tbody>
                          <tr ng-repeat="testDate in zybwhysItem.list" style="height:{{testDate.height}}px;">
                            <td style="padding:0;">
                              <table class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="sample in testDate.list" style="height:{{sample.height}}px;">
                                  <td>
                                    <input type="text" class="form-control" ng-model="sample.touchTime">
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;border: none;">
                <tbody>
                  <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                    <td style="padding:0;">
                      <table class="table" style="margin-bottom: 0;">
                        <tbody>
                          <tr ng-repeat="testDate in zybwhysItem.list" style="height:{{testDate.height}}px;">
                            <td style="padding:0;">
                              <table class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="sample in testDate.list" style="height:{{sample.height}}px;">
                                  <td>
                                    <input type="text" class="form-control" ng-model="sample.collectTime">
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table class="table table-bordered" style="margin-bottom: 0;border: none;">
                <tbody>
                  <tr ng-repeat="zybwhysItem in workshopPosition.list" style="height:{{zybwhysItem.height}}px;">
                    <td style="padding:0;">
                      <table class="table" style="margin-bottom: 0;">
                        <tbody>
                          <tr ng-repeat="testDate in zybwhysItem.list" style="height:{{testDate.height}}px;">
                            <td style="padding:0;">
                              <table class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="sample in testDate.list" style="height:{{sample.height}}px;">
                                  <td>
                                    <a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="deleteSample(zybwhysItem, testDate, sample)"><i class="fa fa-trash-o fa-lg"></i></a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" ng-disabled="!canDownloadJSGCB" ng-click="downloadJSGCB()">下载计算过程表</button>
    <button type="button" class="btn btn-primary" ng-disabled="!canDownloadJGYPDB" ng-click="downloadJGYPDB()">下载结果与判定表</button>
  </div>
</div>
</div>