<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-4">
    <h4 style="text-align:center;">客户资料登记单</h4>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;创建&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>项目名称:</label>
    </div>
    <div class="cell">
      {{data.project.name}}
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>项目编号:</label>
    </div>
    <div class="cell">
      {{data.project.number}}
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>表码:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.tableNum" type="text" class="form-control" style="width: 150px;">
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>修订状态:</label>
    </div>
    <div class="cell">
      <input ng-model="data.item.revisionStatus" type="text" class="form-control" style="width: 150px;">
    </div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell">
      <button type="button" class="btn btn-primary pull-right" ng-click="addItem()">&nbsp;添加&nbsp;</button>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><label>提交评价资料名称</label></th>
      <th><label>提交日期</label></th>
      <th><label>数量</label></th>
      <th><label>接收人</label></th>
      <th><label>返还日期</label></th>
      <th><label>返还人</label></th>
      <th><label>操作</label></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data.item.items">
      <td style="width: 200px;">
        <select ng-model="item.resource" ng-options="resource.groupName for resource in resourceList" class="form-control"></select>
      </td>
      <td style="width: 120px;"><input at-datepicker date="item.submitDate" type="text" class="form-control date"></td>
      <td style="width: 60px;"><input ng-model="item.resourceNum" class="form-control"></td>
      <td style="line-height: 34px;"><input ng-model="item.receiveEmployee" class="form-control"></td>
      <td style="width: 120px;"><input at-datepicker date="item.returnDate" type="text" class="form-control date"></td>
      <td style="line-height: 34px;"><input ng-model="item.returnEmployee" class="form-control"></td>
      <td><button type="button" class="btn btn-danger"  ng-click="deleteItem(item)">&nbsp;删除&nbsp;</button></td>
    </tr>
  </tbody>
</table>