<div class="panel panel-default" style="margin-bottom:0;">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i> 项目进度: {{tableList.step.name}}
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>记录文件</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="table in tableList">
          <td>
            {{table.label}}
          </td>
          <td>
            {{table.status}}
          </td>
          <td>
            <button type="button" ng-click="viewTable(table)" class="btn btn-default btn-sm">查看</button>
            <button type="button" ng-click="printTable(table)" class="btn btn-default btn-sm">打印</button>
            <button type="button" ng-click="downloadTable(table)" class="btn btn-default btn-sm">下载</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>