<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>客户名称</th>
          <th>客户地址</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="customer in customerList">
          <td>{{ customer.companyName }}</td>
          <td>{{ customer.companyAddress }}</td>
          <td>
            <button type="button" ng-click="selectCustomer(customer)" class="btn btn-warning btn-sm">选择</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <pagination direction-links="false" total-items="totalItemNum" ng-model="currPageNum" ng-change="pageChanged()" items-per-page="10"></pagination>
    </div>
  </div>
</div>