<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-4">
    <h4 style="text-align:center;">上传检测报告</h4>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success pull-right" ng-click="upload()">&nbsp;上传&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell">
      <label>检测报告文件:</label>
    </div>
    <div class="cell">
      <input type="file" ng-file-select="onFileSelect($files)">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" ng-disabled="!canDownloadJSGCB" ng-click="downloadJSGCB()">下载计算过程表</button>
    <button type="button" class="btn btn-primary" ng-disabled="!canDownloadJGYPDB" ng-click="downloadJGYPDB()">下载结果与判定表</button>
  </div>
</div>

