<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">&nbsp;取消&nbsp;</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-success pull-right" ng-click="save()">&nbsp;确定&nbsp;</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="cell" style="width: 90px;">
      <label>创建时间:</label>
    </div>
    <div class="cell">
      <input at-datepicker date="data.item.createDate" type="text" class="form-control date">
    </div>
  </div>
  <div class="row">
    <div class="cell" style="width:30%;">
      <label>建设单位提供的资料:</label>
    </div>
    <div class="cell" style="width:70%;">
      <textarea class="form-control" rows="5"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width:30%;">
      <div style="line-height:40px;">现场调查情况:</div>
    </div>
    <div class="cell" style="width:70%;">
      <div style="line-height:40px;">总工艺流程:</div>
      <textarea class="form-control" rows="5"></textarea>
      <div style="line-height:40px;">原辅材料清单:</div>
      <textarea class="form-control" rows="5"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width:30%;">
      <label>建设项目总平面布局图:</label>
    </div>
    <div class="cell" style="width:70%;">
      <input type="file" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width:30%;">
      <label>调查人员:</label>
    </div>
    <div class="cell" style="width:70%;">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="cell" style="width:30%;">
      <label>陪同人员:</label>
    </div>
    <div class="cell" style="width:70%;">
      <input type="text" class="form-control">
    </div>
  </div>
</div>