<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>员工姓名</th>
          <th>员工部门</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employeeList">
          <td>{{ employee.name }}</td>
          <td>{{ employee.department.name }}</td>
          <td>
            <button type="button" ng-click="appointEmployee(employee)" class="btn btn-warning btn-sm">指定</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <pagination direction-links="false" total-items="totalItemNum" ng-model="currPageNum" ng-change="pageChanged()" items-per-page="10"></pagination>
    </div>
  </div>
</div>